html, body{
  width: 100%;
  overflow-x: hidden;
}

h1{
  color:black;
  font-style:sans-serif;
  font-size: 30;
}
h1 {
  animation: pagetitle 20s infinite alternate;
  position: relative;
}

h3{
  color:black;
  font-style:sans-serif;
  font-size: 50;
  display: inline;
  font-weight: bold;

}

@keyframes pagetitle {
  from {left:900px;}
  to {left:10px;}

}

body {
  background: #5F9EA0;
  color:black;
  font-style: Courier;
  font-size: 18;
}
header{
  width: 100%;
  margin-bottom: 14px;
  height: 81px;
  background: #76742C;
}

header img
{
  float: left; width: 70px;
}

header ul {
  float: right;
}

header li {
 display: inline-block;
  font-weight: bold;
  font-size:25px;
}

header li a {
  text-decoration: none;
  margin-right: 15px;
}

div.b {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

inline {
  align: right;
}

a{
  color:yellow;
}

a:hover{
  color:black;
}

a:active{
  color:white;
}

body  {
  background: linear-gradient(to bottom, DARKKHAKI 15%,#696969 30%,#FAF0E6 46%);
  margin: 0;
}

.quote1{
font-size: 30px;
font-weight: bold;
}
.quote2 {
  font-size: 25px;
  font-style: italic;
}

.mypic{
  float: right;
  margin-left: 30px;
}

.mypic3{
  margin-top: 40px;
  width: 350px;
}

.socialmedia{
  font-size: 25px;
}

.socialmedia a{
  color:blue;
}

.contact-page{
  background-image:url(sky.jpg);
  height: 100%; width: 100%;
  background-position: center;
  Length:100%;
  text-align: center;
}
.contact-page form {
  display:inline-block;
  text-align: left;
}
.contact-page input[type="text"], .contact-page textarea{
  padding: 10px 20px;
  margin: 10px 0px;
  width: 100%;
  max-width: 500px;
}

.contact-page h3 {
  display: block;
}

.about {
  background-image:url(sky1.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.resume {
  background-image: url(lights.jpg);
}

.links {
  background-image: url(sky.jpg);
}

@media (min-width:800px) {
  p{
    font-size: 1.5rem
    line-height:1.5;
  }
}

.mainLayoutGrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 20px;
}

.table {
  margin: auto;
  font-size: 18px;
  font-weight: bold;

}

footer {
 width: 100%;
 text-align: center;

}

@media screen and (max-width:480px){
  body:hover span{
    padding:0px;
  }
  img, .mypic3, iframe{
    width: 100%;
  }
  main.mainLayoutGrid {
    display: block;
  }
  header img{
    display: inline-block;
    height: 150px;
    width: auto;
    float: none;
  }
  header{
    text-align: center;
    height: 370px;
  }
  nav ul {
    display: block; width: 100%;
  }
  nav li {
    display: block; width: 100%;
  }
}
