html, body{
  width: 100%;
  overflow: hidden;
}

h1{
  color:black;
  font-style:sans-serif;
  font-size: 30;
}
h1 {
  animation: pagetitle 20s infinite alternate;
  position: relative;
}

h3{
  color:black;
  font-style:sans-serif;
  font-size: 50;
  display: inline;
  font-weight: bold;

}

@keyframes pagetitle {
  from {left:900px;}
  to {left:10px;}

}

body {
  background: #5F9EA0;
  color:black;
  font-style: Courier;
  font-size: 18;
}
header{
  width: 100%;
  margin-bottom: 14px;
  height: 81px;
  background: #76742C;
}

header img
{
  float: left;
}

header ul {
  float: right;
}

header li {
 display: inline-block;
  font-weight: bold;
  font-size:25px;
}

header li a {
  text-decoration: none;
  margin-right: 15px;
}

div.b {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

inline {
  align: right;
}

a{
  color:yellow;
}

a:hover{
  color:black;
}

a:active{
  color:white;
}

body  {
  background: linear-gradient(to bottom, DARKKHAKI 15%,#696969 30%,#FAF0E6 46%);
}

p1{
margin-left: 350px;
font-size: 30px;
padding: 15px;
font-weight: bold;
font-style: oblique;
padding-left: 100px;
position: absolute;
left: 60px;
bottom: 300px;
}
p2 {
  margin-left: 250px;
  font-size: 25px;
  padding: 10px;
  font-style: italic;
  padding-left:100px;
  position: absolute;
  left: 50px;
  bottom: 120px
}

.mypic{
  float: right;
  margin-left: 30px;
}

.mypic3{
  margin-top: 40px;
}

.socialmedia{
  font-size: 25px;
}

.socialmedia a{
  color:blue;
}

.contact-page{
  background-image:url(sky.jpg);
  height: 100%; width: 100%;
  background-position: center;
  Length:100%;
  text-align: center;
}
.contact-page form {
  display:inline-block;
  text-align: left;
}
.contact-page input[type="text"], .contact-page textarea{
  padding: 10px 20px;
  margin: 10px 0px;
  width: 100%;
  max-width: 500px;
}

.contact-page h3 {
  display: block;
}

.About {
  background-color: yellow;
}

.resume {
  background-image: url(lights.jpg);
}

.links {
  background-image: url(sky.jpg);
}
