h1{
  color:#800000;
  font-style:sans-serif;
  font-size: 30;
}
body {
  background: #5F9EA0;
  color:black;
  font-style: Courier;
  font-size: 18;
}
li {
 display: inline-block;

}
inline {
  align: right;
}
a{
  color:#000000;
}
a:hover{
  color:red;
}
a:active{
  color:white;
}
body  {
background: linear-gradient(to bottom, DARKKHAKI 15%,#696969 30%,#FAF0E6 46%);
}
